<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        {%for i in video%}
            <h2>{{i[1]}}</h2>    
            <iframe width="560" height="315" src={{i[4]}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div>fecha: {{i[2]}}</div>
            <div>descripcion: {{i[3]}}</div>
            <a href="{{url_for('formAgreCo',id=i[0])}}" class="button is-success">Agregar</a>
        {%endfor%}
        
        {%for i in comentarios%}
            <div id="{{i[0]}}" class="comentario">
                {{i[2]}}
                <a href="{{url_for('editarComent', id=i[0])}}" class="button is-info">Editar</a>
                <form action="{{url_for('eliminarComent')}}" method="POST">
                    <input type="hidden" name="id" value="{{i[0]}}">
                    <button class="button is-danger">Eliminar</button>
                </form>
            </div>
        {%endfor%}
    </div>
</body>
</html>